---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import PageContent from "../../layouts/PageContent.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <PageLayout>
      <Header />
      <PageContent>
        <h3>Resume</h3>
        <p>
          I plan on inlining my resume here, but until I do, here's a <a
            href="https://drive.google.com/file/d/1QmMjjkHRTt4EP4ERHMXp-x309Yi2FcrL/view?usp=sharing"
            target="_blank"
            rel="noreferrer">link</a
          >.
        </p>
      </PageContent>
    </PageLayout>
  </body>
</html>
