---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import TagContainer from "../../components/Tag.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { extractTags } from "./../../util";
import PageLayout from "../../layouts/PageLayout.astro";
import PageContent from "../../layouts/PageContent.astro";
import PostPreviewList from "../../components/PostPreviewList.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => extractTags(post.data.tags)).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      extractTags(post.data.tags).includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <PageLayout>
      <Header />
      <PageContent>
        <h3>Posts tagged with <TagContainer tagName={tag} /></h3>
        <p>
          <PostPreviewList posts={posts} />
        </p>
      </PageContent>
    </PageLayout>
  </body>
</html>
