---
import HeaderLink from "./HeaderLink.astro";
---

<header class="header">
  <HeaderLink href="/">MARCOS ACOSTA</HeaderLink>
  <div class="headerDot">•</div>
  <HeaderLink href="/blog">Blog</HeaderLink>
  <div class="headerDot">•</div>
  <HeaderLink href="/tags/projects">Projects</HeaderLink>
  <div class="headerDot">•</div>
  <HeaderLink href="/resume.pdf" target="_blank">Resume</HeaderLink>
</header>

<style>
  .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .headerDot {
    color: var(--gray);
  }
</style>
