---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <a href="/">Marcos Acosta</a>
  <a href="/blog">Blog</a>
  <a href="/tags/project">Projects</a>
  <a href="/resume">Resume</a>
</header>
